<div>
    <h1>create</h1>
    <form action="/user/create" method="post">
        name<input type="text" name='name'><br>
        age<input type="text" name='age'><br>
        city<input type="text" name='city'><br>
        <button type="submit">Create</button>
    </form>
</div>
    
